In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Shingu,JP,2022-09-15 04:52:12,33.7333,135.9833,80.78,68,90,12.37
1,1,Castro,BR,2022-09-15 04:45:01,-24.7911,-50.0119,54.25,98,99,4.85
2,2,Ayan,RU,2022-09-15 04:52:13,56.4500,138.1667,51.53,54,2,19.15
3,3,Vaini,TO,2022-09-15 04:44:57,-21.2000,-175.2000,80.76,78,75,6.91
4,4,Busselton,AU,2022-09-15 04:46:15,-33.6500,115.3333,61.12,64,68,16.20

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Shingu,JP,2022-09-15 04:52:12,33.7333,135.9833,80.78,68,90,12.37
3,3,Vaini,TO,2022-09-15 04:44:57,-21.2000,-175.2000,80.76,78,75,6.91
5,5,Contamana,PE,2022-09-15 04:52:14,-7.3333,-75.0167,75.09,76,59,1.90
7,7,Sakaiminato,JP,2022-09-15 04:52:14,35.5500,133.2333,84.13,74,75,14.97
17,17,Sal Rei,CV,2022-09-15 04:52:17,16.1833,-22.9167,80.17,84,95,13.42
31,31,Salalah,OM,2022-09-15 04:52:21,17.0151,54.0924,78.51,82,95,5.93
32,32,Meulaboh,ID,2022-09-15 04:52:22,4.1363,96.1285,85.84,62,33,7.09
35,35,Valdez,EC,2022-09-15 04:52:22,1.2492,-78.9831,76.01,83,98,9.91
38,38,Bambous Virieux,MU,2022-09-15 04:46:27,-20.3428,57.7575,75.22,64,20,12.66
40,40,Itarema,BR,2022-09-15 04:52:24,-2.9248,-39.9167,77.45,85,23,15.99

In [17]:
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Shingu      JP     80.78  33.7333  135.9833
3             Vaini      TO     80.76 -21.2000 -175.2000
5         Contamana      PE     75.09  -7.3333  -75.0167
7       Sakaiminato      JP     84.13  35.5500  133.2333
17          Sal Rei      CV     80.17  16.1833  -22.9167
31          Salalah      OM     78.51  17.0151   54.0924
32         Meulaboh      ID     85.84   4.1363   96.1285
35           Valdez      EC     76.01   1.2492  -78.9831
38  Bambous Virieux      MU     75.22 -20.3428   57.7575
40          Itarema      BR     77.45  -2.9248  -39.9167

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and logitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Shingu,JP,80.78,33.7333,135.9833,Shingu UI Hotel
3,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
5,Contamana,PE,75.09,-7.3333,-75.0167,Shiringal Touristic Park
7,Sakaiminato,JP,84.13,35.5500,133.2333,Italian pasley
17,Sal Rei,CV,80.17,16.1833,-22.9167,Marine Club Beach Resort
31,Salalah,OM,78.51,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
32,Meulaboh,ID,85.84,4.1363,96.1285,Kost Pria
35,Valdez,EC,76.01,1.2492,-78.9831,Casa Alquiler Doña Yenner y Don Wacho
38,Bambous Virieux,MU,75.22,-20.3428,57.7575,Casa Tia Villa
40,Itarema,BR,77.45,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the data frame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
#Add a heatmap of temperature for vacation spots and a pop-up marker for each city
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))